/* --------------- CONTENIDO HTML CONTACTO*/
/* Grid contacto */
.grillaPadre{     
    display: grid;
    grid-template-areas: 
    "nav"
    "rell"
    "contacto"
    "foot";
    grid-template-columns: auto;
    grid-template-rows: auto 30% auto auto;
    justify-items: center;    
    .Gcabecera{              
        grid-area: nav;
        width:100%;    
    }
    .rellenoImg{
        grid-area: rell;
        justify-self: stretch;
        background-image: url("../media/contacto-img2.jpg");
        background-size:cover;
        display: flex;   
        justify-content: center;   
        align-items: center;
        p{
            color: $letra-blanco;  
            background-color: rgba(0, 0, 0, 0.329);  
            font-weight:700;    
            font-size: 1.7rem;
            letter-spacing:1px;
            text-shadow: 4px 4px 3px goldenrod;
            text-align: center;
            margin: 0 .3rem;
            border-radius: 10px;
        }        
    }
    .contacto{    
        grid-area: contacto;            
        justify-self: stretch;       
        padding-bottom: 1rem;
        padding-top: 2rem;
        
        .contContacto{ 
            @include flex-dir-jus(column, center);   
            height:100%;
            h2{
                color: #daa520;
                background-color: rgba(255, 255, 255, 0.938);
                margin:1rem auto;
                padding: .5rem;
                border-radius: 20px;                
            }
            form{
                width: 90%;
                display: flex;
                flex-direction: column;      
                align-self: center;
                label{
                    color: $letra-blanco;
                    font-weight:700;    
                    font-size: 1.3rem;
                    letter-spacing:1px;
                    animation: slideInRight;
                    animation-duration: 1s;
                }
                .d1{                    
                    animation-duration: 1.3s;
                }
                .d2{
                    animation-duration: 1.6s;
                }
                .d3{
                    animation-duration: 1.9s;
                }
                input{
                    width: 100%;                    
                    margin-top: 0.7rem;
                    margin-bottom: 1rem;  
                    border-radius: 5px;
                    padding: .2rem;
                    border: 2px goldenrod solid; 
                    outline: none;
                    &.boton {     
                        font-size:1rem;
                        font-weight:600;
                        letter-spacing:0.2rem;
                        background-color:$bg-verde-claro;
                        color: $letra-blanco;
                        align-self: center;
                        height: 2rem;
                        width:30%;
                        border: none;
                    }                       
                }
                textarea{
                    max-width: 100%;
                    max-height: 10rem;
                    width: 100%;
                    height: 10rem;
                    margin-top: 0.7rem;
                    margin-bottom: 1rem;
                    border-radius: 5px;  
                    outline: none; 
                    border: 2px goldenrod solid;  
                    resize: none;           
                }              
            }
        }       
    }

    /* modal */
    .modal{        
        .modal-dialog{
            .modal-content{                
                background-color: $bg-verde-oscuro;
                border: 2px #daa520 solid;
                .modal-body{
                    @include flex-dir-jus(column,center);
                    align-items: center;
                    font-size: 1.2rem;                    
                    img{
                        margin-top: 1rem;
                        width: 15%;                        
                    }                                        
                }
                .btn{
                    font-weight: 700;
                    letter-spacing: .1rem;
                    background-color: $bg-verde-claro;
                    
                }
            }
        }
    }

    .piePagina{    
        grid-area: foot;
        justify-self: stretch;
    }
    @media all and (min-width: $point-lg){
        grid-template-areas:        
        "nav nav"
        "rell contacto"
        "foot foot";
        grid-template-columns: 40% 60%;
        grid-template-rows: auto 100% auto;
        justify-items: center;    
        .modal{        
            .modal-dialog{
                .modal-content{ 
                    .modal-body{
                        @include flex-dir-jus(row,center);
                        font-size: 1.5rem;                    
                        img{
                            margin: 0 .5rem 0 .5rem;
                            width: 10%;                        
                        }                                        
                    }
                }
            }
        }
    }
}