/* --------------- FOOTER */

.footer{
    display: flex;    
    justify-content:center;
    align-items: center;
    padding: .2rem 0;
    border-top: 1px solid #ccc;
    &__ul{
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;        
        margin: 0;        
        &__li{
            list-style: none; 
            margin: 0 .2rem;                        
            &__a{
                text-decoration:none !important; 
                color: grey;
                font-weight:700;    
                font-size: .8rem;
                letter-spacing:.1rem;
                &:hover{
                    color: white;
                }
            } 
        }
        @media all and (min-width: $point-md){
            margin: .2rem 0;
            &__li{
                padding: 0 .5rem;
                margin:0;
                border-left: .1rem grey solid;                        
                &__a{
                    width:100%; 
                    font-size: 0.7rem;
                    letter-spacing:.2rem;
                }
            }            
        } 
    }
    .footer--no-border{
        border-left: none;
    }
     
}