.cabecera{
    border-bottom: 1px solid #ccc;
    background-color: $bg-verde-claro;    
    &__logo{             
        font-size: 1.5rem;
        color: #cca124;
        font-style: italic;
        font-weight: 700;
        letter-spacing: 1px; 
        animation: headShake;
        animation-duration: 1s;          
        &__img{            
            width: 2.1rem;
        }           
        &:hover{
            color: #cca124;
            animation: pulse;
            animation-duration: 1s;
        }
    }    
    &__menu__link{       
        color: $letra-blanco;
        font-weight:700;    
        font-size: 1rem;
        letter-spacing:1px; 
        border-radius: 20px; 
        &:hover{
            color:#daa520;
            background-color:rgba(255, 255, 255, 0.932);            
            transition: 0.3s;
        }
    }
    &__redes__img{
        min-width: 1.5rem;
        width: 2rem;    
        opacity: 90%;  
        transition: 0.1s;   
        &:hover{
            transform: scale(1.1);
            transition: 0.1s;
        }      
    }
    button{
        outline: none;
        border: goldenrod;
    }
    @media all and (min-width: $point-lg){
        &__logo{
            font-size: 1.8rem;
           &__img{            
               width: 2.8rem;                         
           }    
       }
    } 
}