.cabecera{
    border-bottom: 1px solid #ccc;
    background-color: $bg-verde-claro;    
    &__logo{
         font-size: 1.4rem;
         color: #cca124;
         font-style: italic;
         font-weight: 700;
         letter-spacing: 1px;
         text-decoration: none;
        &__img{            
            width: 2.2rem;            
        }    
    }
    &__menu__link{       
        color: $letra-blanco;
        font-weight:700;    
        font-size: 1rem;
        letter-spacing:1px;        
        &:hover{
            color:$letra-verde-claro;
            background-color:rgba(255, 255, 255, 0.932);
            border-radius: 20px;
        }
    }
    &__redes__img{
        min-width: 1.5rem;
        width: 2rem; 
    }
    button{
        outline: none;
        border: goldenrod;
    }
}