*{
    margin: 0;
    padding: 0;
    font-family: $fuente;    
}

/* Títulos */
.titulo-h1{
    color: rgb(218, 165, 32);
    background-color: rgba(255, 255, 255, 0.938);
    margin:1rem auto;
    padding: .5rem .8rem;
    border-radius: 30px;
    letter-spacing: .2rem;
    font-size: 1.7rem;
    font-style: italic;
    font-weight:700;     
    text-align: center;  
    animation: fadeInDown;
    animation-duration: 1s; 
    @media all and (min-width: $point-md){
        font-size: 2.3rem;                
    }  
}
.titulo-sectores{
    color: $letra-blanco;
    letter-spacing: .2rem;
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
    font-weight:700;      
    margin-bottom: 1rem;   
    animation: flipInX;
    animation-duration: 1s;
}
h3{    
    color: $letra-blanco;
    font-size: 1rem;
    font-weight:700;  
    margin-bottom: 1.2rem;
    letter-spacing:2px;
}
body{
    background-color: $bg-verde-oscuro;
    width:100%;
}

/* Font Weight */
@each $j, $c in $font-weight{
	.font-weight-#{$j}{
		font-weight: $c;
	}
}

/* --------------- CONTENIDO INDEX*/
.contenido{
    width: 100%;
    /* Icono WhatsApp flotante */
    .contWp{ 
        position: fixed;
        height: 50px;
        width: 50px;    
        bottom: 4rem;
        right: .5rem;            
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 100;
        img{
            width: 100%;
        }
        @media all and (min-width: $point-md){
            height: 70px;
            width: 70px;
            right: 1.5rem; 
        } 
    }

    /* CARROUSEL */
    .carrousel{        
        background-color: black;
        padding: 0 0;
        overflow: hidden; 
        .logo_carrousel_izq{
            position: relative;
            width: 20%; 
            right:10%;   
            transform: scaleX(-1);                  
        }
        .logo_carrousel_der{            
            position:relative;
            width: 20%; 
            left:10%;                              
        }
    }

    /* Sección NOSOTROS */
    .nos{    
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;    
        width: 100%;    
        padding: 98px 0 50px 0;
        background-image: url(../media/fondo-barra.jpg);
        background-size: cover;
        background-position: center;
        h1{
            margin-bottom: 50px;            
            background-color: rgb(255, 255, 255);            
            letter-spacing: .4rem;
        }
        .contenidoNosotros{            
            @include flex-dir-jus(column,center);
            align-items: center;
            padding: 0 2rem;
            div{
                background-color: rgba(0, 0, 0, 0.74);
                width: 100%;
                padding: 1rem;
                margin: 1rem 0;
                border-radius: 10px;
                .titulos-nos{
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                    padding: .3rem 0;                                                  
                }
                h2{
                    text-align: justify;
                    color: $letra-blanco;
                    line-height: 1.6;
                    font-size: 1.2rem;
                    font-weight: 400;
                } 
                p{
                    text-align: justify;
                    color: $letra-blanco;
                    line-height: 1.6;
                    font-size: 1.2rem;
                    span{
                        font-style: italic;
                    }
                }
                .icono-nos{
                    width: 10%;                
                    margin-right: 1rem;                
                }
                img{
                    width: 100%;
                    border-radius: 10px; 
                }
                @media all and (min-width: $point-md){
                    .icono-nos{
                        width: 5%;                
                        margin-right: 1rem;                
                    }
                    img{ 
                        border-radius: 10px; 
                        object-fit: cover;
                    }
                }         
            }               
            @media all and (min-width: $point-lg){
                @include flex-dir-jus(row, space-around);          
                align-items:stretch;                
                div{
                    width: 30%;
                    padding: 1rem;  
                    .icono-nos{
                        width: 7%;   
                    }                          
                }                
            }
        }
    }

    /* Sección GALERIA */
    .gale{        
        display: flex;
        flex-direction: column;
        justify-content:center;        
        align-items: center;
        width: 100%;    
        padding: 98px 0 50px 0;    
        background-color: $bg-negro;
        .contenidoImagenes{
            display: flex;
            flex-wrap: wrap;   
            justify-content: space-evenly;
            img{
                width: 18rem;                
                margin: 1rem;    
                border-radius: 10px;
                transform: scale(1);
                transition: 0.1s;
                object-fit: cover;
                animation: zoomIn;
                animation-duration: 1s;                 
                &:hover{
                    transform: scale(1.1);
                    transition: 0.1s;  
                }
            }   
        }
    }

    /* Sección BENEFICIOS */    
    .bene{  
        border-top: gold 4px solid;
        border-bottom: gold 4px solid;
        background: linear-gradient(to bottom, #032c27, black,#032c27);  
        padding-top: 98px;   
        padding-bottom: 32px;   
        text-align: center;         
        .row{
            justify-content: space-around;                  
            .titulo-sectores{
                color: goldenrod;
            }      
            h3{
                color: $letra-blanco;
                font-size: 1.2rem;
            }
            .cont_bene{             
                @include flex-dir-jus(column, center);
                justify-content: center;
                background-color: white;
                margin: 1rem 0 1rem 0;
                padding: 1rem .3rem;
                border-radius: 10px; 
                border: goldenrod 2px solid;  
                transition: 0.1s;
                animation: pulse;
                animation-duration: 1s;              
                &:hover{
                    transform: scale(1.1);
                    transition: 0.1s;                    
                }
                span{
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: goldenrod;                
                }
                p{
                    margin: 0;
                    color: $letra-negro;
                    font-size: 1rem;   
                    font-weight: 700;                 
                }          
            }  
            img{
                margin-top:1rem;
                width: 5rem;
                animation: wobble;
                animation-duration: 1s;
                animation-delay: 1s;                
            }          
        }        
    }
    
    /* Sección CONTACTO HOME*/
    .contenidoContacto{
        @include flex-dir-jus(column, space-around); 
        align-items: center;
        width:100%;
        background-color:$bg-negro;        
        padding: 1rem 0;        
        .titulo-sectores{
            width: 100%;
        }
        .datos{
            width: 100%; 
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items:start; 
            margin-bottom: 1.5rem;
            div{
                width:100%; 
                padding: 0 .5rem;               
            }
            p{
                text-align: center;
                font-size: 1rem;
                font-weight: 700;
                letter-spacing:.1rem;
                color: goldenrod;    
                padding-bottom: .5rem;
                span{
                    color: white;
                }
            }
            form{
                @include flex-dir-jus(column,center);
                width: 100%;
                padding: 0 .5rem;
                label{
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 700;
                    letter-spacing:.1rem;
                    color: white;                
                }
                #correo{
                    margin: .5rem 0;
                    width: 100%; 
                    border:goldenrod 2px solid; 
                    font-weight: 700;
                }
                input{
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    padding: .2rem;
                    &.btn-enviar{
                        font-size:1rem;
                        font-weight:600;
                        letter-spacing:.1rem;
                        background-color:$bg-verde-claro;
                        color: $letra-blanco;
                        align-self: center;                        
                        width:30%;
                        border: none;
                    }
                }
            }            
        }
        .sucurCercana{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;  
            padding: 0 .5rem;  
            h3{
                margin-bottom: .5rem;
            } 
            p{
                font-size:1rem;
                font-weight:700;
                letter-spacing:.1rem;
                color: goldenrod;
            }       
            iframe{
                width: 100%;
                border: goldenrod 2px solid;
                border-radius:5px;                
            }
        }
        .contenidoRedes{
            display: flex;
            flex-direction: column;
            align-items: center; 
            align-self: center;
            margin: 1.5rem 0 1rem 0;
            width: 100%;
            .redesDeContenido{     
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                a{ 
                    width: 13%;      
                    margin:0 1rem;                        
                }
                img{
                    width: 100%;
                    transition: 0.1s; 
                    &:hover{
                        transform: scale(1.1);
                        transition: 0.1s;  
                    }
                }    
            }
        }
        .modal{        
            .modal-dialog{
                .modal-content{                
                    background-color: $bg-verde-oscuro;
                    border: 2px #daa520 solid;
                    .modal-body{
                        @include flex-dir-jus(column,center);
                        align-items: center;
                        font-size: 1.2rem;                    
                        img{
                            margin-top: 1rem;
                            width: 15%;                        
                        }                                        
                    }
                    .btn{
                        font-weight: 700;
                        letter-spacing: .1rem;
                        background-color: $bg-verde-claro;                        
                    }
                }
            }
        }
        @media all and (min-width: $point-md){
            flex-flow: wrap;
            h3{
                font-size: 1.2rem;
            }
            .datos{
                width: 45%;                
                padding: 0;
                margin:0;
                div{  
                    padding: 0;
                }
                p{
                    font-size: 1.2rem;
                }
                form{
                    label{
                        font-size: 1.2rem;
                    }                    
                    #correo{
                        align-self: center;
                        width: 100%;
                    }                    
                }             
            }
            .sucurCercana{                
                width: 45%;
                padding: 0;
                iframe{
                    width: 100%;
                    height: 200px;
                    box-shadow:0 0 1.5rem 1px goldenrod;
                   
                }
            }
            .contenidoRedes{
                margin-top: 3rem;
                .redesDeContenido{
                    a{ 
                        width: 5%;                       
                    }                      
                }
            }
            @media all and (min-width: $point-lg){
                .datos{
                    form{            
                        #correo{                        
                            width: 70%;
                        }                    
                    }    
                }  
                .sucurCercana{ 
                    iframe{
                        width: 70%;
                        height: 250px;                        
                    }
                }
                .contenidoRedes{                    
                    .redesDeContenido{
                        a{ 
                            width: 3%;                       
                        }                      
                    }
                }
                .modal{        
                    .modal-dialog{
                        .modal-content{ 
                            .modal-body{
                                @include flex-dir-jus(row,center);
                                font-size: 1.5rem;                    
                                img{
                                    margin: 0 .5rem 0 .5rem;
                                    width: 10%;                        
                                }                                        
                            }
                        }
                    }
                }
            }
        }
    }    
}