/* --------------- CONTENIDO HTML SUCURSALES*/
.sucursales{
    padding: 2rem 0;
    background-color: $bg-negro;
    @include flex-dir-jus(column, center);
    .card{
        background-color: $bg-verde-oscuro;
        button{
            color: $letra-blanco;
            font-weight: 700;
            font-size: 1.2rem;            
        }        
        .card-header{
            background-color: $bg-verde-claro;        
        }
        .collapse{            
            width: 100%;       
            .card-body{            
                background-color: rgba(0, 0, 0, 0.212);
                border-radius: 10px;                
                p{
                    text-align: center;
                    color: $letra-blanco;
                    font-size: 1.1rem;
                    margin: .5rem 0 0 0;       
                }
                iframe{
                    border-radius: 10px;  
                    width: 100%;                                         
                } 
            }
            @media all and (min-width:$point-md){
                width: 60%;
            } 
        }                           
    }
}